<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<div class="container">
  <div class="input-group">
    <%= form_tag(authors_path, method: :get) do %>
      <%= text_field_tag :search, params[:search],
        placeholder: t(".search"), class: "form-control" %>
      <span class="input-group-btn">
        <%= submit_tag t(".search"), name: nil,
          class: "btn btn-default" %>
      </span>
    <% end %>
  </div>
  <ul class="author">
  <% @authors.each do |author| %>
    <li>
      <%= link_to author.name, edit_author_url(author) %> |
      <%= author.content %>
    | <%= link_to t(".delete"),
        author, method: :delete, data: {confirm: t(".confirm")} %>
    </li>
  <% end %>
  </ul>
  <%= will_paginate %>
</div>

<%= t ".download" %>
<%= link_to t(".excel"), authors_path(format: "xls") %>

