<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<div class="form-group">
  <%= search_form_for @q do |f| %>
    <%= f.label :name %>
    <%= f.search_field :name_cont %>
    <%= f.submit t(".search"), name: nil %>
  <% end %>
</div>
<br>

<table class="table table-bordered">
  <thead>
    <tr>
      <th><%= sort_link(@q, :name) %></th>
      <th><%= t ".detail" %></th>
      <th><%= t ".action" %></th>
    </tr>
  </thead>
  <tbody>
    <% @authors.each do |author| %>
        <tr>
          <td><%= link_to author.name, author %></td>
          <td><%= author.content %></td>
          <td>
            <%= link_to t(".edit"), edit_author_path(author) %> |
            <%= link_to t(".delete"), author,
              method: :delete, data: {confirm: t(".confirm")} %>
          </td>
        </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate %>

<div>
  <%= t ".download" %>
  <%= link_to t(".excel"), authors_path(format: "xls") %>
</div>
