<% provide :title, @author.name %>
<div id="notice"></div>
<h1><%= @author.name %></h1>

<div class="container">
  <%= render partial: "follows/button"%>
  <dl>
    <dt><%= t(".name") %></dt><dd><%= @author.name %></dd><br>
    <dt><%= t(".detail") %></dt><dd><%= @author.content %></dd>
  </dl>

  <%= link_to t(".edit"), edit_book_path(@author) %>
  <%= link_to t(".delete"), @author,
   method: :delete, data: { confirm: t(".confirm") } %>
  </div>
