<% provide :title, @user.name %>
<h1><%= @user.name %></h1>
<h2><%= @user.email %></h2>
<% if user_signed_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="stats">
          <%= render "shared/stats" %>
      </section>
    </aside>
  </div>
<% end %><br>
<div class="row">
  <div class="col-md-2">
    <%= render "follow_form" if user_signed_in? %>
  </div>

</div>
<br>
<% if can? :make_admin, @user %>
  <div class="row">
    <div class="col-md-2">
      <%= button_to t(".make_admin"), {action: "make_admin", id: @user.id }, method: :put, class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
