<h1><%= t ".all" %></h1>

<table id="example" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th class="th-sm"><%= t ".id" %>
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
      <% if can? :manage, @requests %>
        <th class="th-sm"><%= t ".user" %>
          <i class="fa fa-sort float-right" aria-hidden="true"></i>
        </th>
      <% end %>
      <th class="th-sm"><%= t ".fromday" %>
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
      <th class="th-sm"><%= t ".today" %>
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      <th class="th-sm"><%= t ".daycreate" %>
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
      </th>
      <th class="th-sm"><%= t ".number" %>
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
      <th class="th-sm"><%= t ".status" %>
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
      <th class="th-sm"><%= t ".action" %>
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
    </tr>
  </thead>
  <tbody>
    <%= render @requests %>
  </tbody>
</table>
