<div class="well">
  <div class="row">
    <div class="col-xs-8">
      <h4><%= link_to book.name, book %></small></h4>
      <h4><%= t(".category", category: book.category_name) %></small></h4>
      <h4><%= t(".author", author: book.author_name) %></small></h4>
      <h4><%= t(".publisher", publisher: book.publisher_name) %></small></h4>
      <h4><%= t(".status", status: book.status) %></small></h4>
      <h4 style="color: green"><%= t(".num_page", num_page: book.number_page) %></h4>
    </div>
    <div class="col-xs-4">
      <%= form_for request_detail do |f| %>
        <div class="input-group">
          <%= f.number_field :number, value: 1, class: "form-control", min: 1 %>
          <div class="input-group-btn">
            <%= f.hidden_field :book_id, value: book.id %>
            <%= f.submit t(".borrow"), class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
