<div class="col-sm-4">
  <div class="panel panel-default" align="center">
    <div class="panel-heading"><%= link_to book.name, book %></div>
    <div class="panel-body">
      <p><%= t(".category", category: book.category_name) %></p>
      <p><%= t(".author", author: book.author_name) %></p>
      <p><%= t(".publisher", publisher: book.publisher_name) %></p>
      <p><%= t(".status", status: book.status) %></p>
      <p style="color: green"><%= t(".num_page", num_page: book.number_page) %></p>
    </div>
    <div class="panel-footer">
      <%= form_for request_detail do |f| %>
        <%= f.hidden_field :number, value: 1%>
        <%= f.hidden_field :book_id, value: book.id %>
        <%= f.submit t(".borrow"), class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
