<% provide :title, t(".title") %>
<h3 class="text-center"><%= t ".title"%></h3>
<div align="center">
  <%= search_form_for @q do |f| %>
    <%= f.label :book %>
    <%= f.search_field :book_cont %>
    <%= f.collection_select :category_id_eq, @categories, :id, :name, include_blank: t(".all") %>
    <%= f.submit t(".search"), name: nil %>
  <% end %>
</div>
<br>
<div class="search">
  <% if params[:q] %>
    <% if @books.count>0 %>
      <h4 class="text-center" style="color: green"><%= t(".find", count: @books.count, key: params[:q][:book_cont]) %></h4>
    <% else %>
      <h4 class="text-center" style="color: red"><%= t ".not_found" %></h4>
    <% end %>
  <% end %>
</div>
<div class="container">
  <div class="row">

      <% @books.each do |book| %>
        <%= render "book_row", book: book, request_detail: @request_detail %>
      <% end %>

  </div>
      <%= will_paginate %>
</div>

