<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>
<div class="form-group">
  <%= search_form_for @q do |f| %>
    <%= f.label :name %>
    <%= f.search_field :name_cont %>
    <%= f.submit t(".search"), name: nil %>
  <% end %>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th><%= sort_link(@q, :id) %></th>
      <th><%= sort_link(@q, :name) %></th>
      <th><%= sort_link(@q, :parent) %></th>
      <% if can? :manage, @categories %>
        <th><%= t ".action" %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
   <%= render @categories %>
 </tbody>
</table>
</div>
