<!DOCTYPE html>
<html>
  <head>
  <meta name="google-site-verification" content="5_IQJAMu-BBm5-1rGCq3Tz0XQHxDGZMfFcsQt8DnUp4" />
  <title><%= full_title yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all",
      "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application",
      "data-turbolinks-track": "reload" %>
     <%= render "layouts/shim" %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <div class= "container">
        <% flash.each do |message_type, message| %>
          <% if ["notice", "info", "success"].include? message_type %>
            <div class="alert alert-success"><%= message %></div>
          <% else %>
            <div class="alert alert-danger"><%= message %></div>
          <% end %>
      <% end %>
      <%= yield %>
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
